* {
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    max-width: 775px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

img {
    margin: 0;
    max-width: 100%;
}

nav {
    text-align: center;
    word-spacing: 1em;
    padding-top: 50px;
    padding-bottom: 70px;
    flex: 0 0 auto;
}

nav a {
    color: #000;
    text-decoration: none;
    word-spacing: normal;
    text-transform: uppercase;
    white-space: nowrap;
}

section {
    flex: 1 0 auto;
}

footer {
    padding-top: 60px;
    text-align: center;
    flex: 0 0 auto;
}

section.home p {
    text-align: center;
}

table th, table td {
    text-align: left;
    padding: 3px;
    border: 1px solid #333;
}


.rsvpForm {

    width: 100%;
    min-height: 900px;
    border: 0;
    margin: 0;

}

@media (max-width: 480px) {
    nav {
        order: 1;
        font-size: 200%;
    }
    footer {
        order: 2;
    }

}

