<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Evert & Roxy</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css?{{ site.time | date: '%s' }}" type="text/css" />

    <link rel="apple-touch-icon" href="/img/icon/ios/Icon-60@2x.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/ios/Icon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/ios/Icon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/ios/Icon-76@2x.png" />
    <link rel="apple-touch-icon" sizes="58x58" href="/img/icon/ios/Icon-Small@2x.png" />

    <link rel="shortcut icon" type="image/png" href="/img/icon/ios/Icon-60@2x.png"/>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>

        $(document).ready(function() {
            $('.hamburger').click(function() {
                $('nav').toggleClass('open');
            });
        });


    </script>

  </head>
  <body>
      <nav>

          <span class="hamburger">☰ </span>

          <div class="menu-options">

             <a href="/">Home</a>
             <a href="/about-the-couple/">About the couple</a>
             <a href="/the-day/">The wedding day</a>
             <a href="/travel-info/">Travel Info</a>
             <a href="/rsvp/">RSVP</a>
             <a href="/contact/">Contact us</a>

          </div>
      </nav>

      <section class="{{ page.sectionClass }}">

          {{ content }}

      </section>
      <footer>
        <img src="/img/roxy-and-evert.svg" />

      </footer>

  </body>
</html>
